@charset "UTF-8";
body{
	background-color: #9CC8F1;
	width: auto;
}
.infobox{
	
}
#t01{
	margin-left: auto;
	margin-right: auto;
	
}
#btndiv{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
.charbtn{
	width: 100px;
	height:40px;
}
